In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('at.csv')
data.head()

,hh_id,per_id,at_id,act_id,trip_id,BegTime,EndTime,ActType,O_pur,D_pur,Mode,Numontrp,AT_Dur
0,30000167,1,1,1,-2,0,740,1,-2,-2,-2,-2,740
1,30000167,1,2,-2,1,740,748,-2,1,13,17,2,8
2,30000167,1,3,2,-2,748,810,13,-2,-2,-2,-2,62
3,30000167,1,4,-2,2,810,820,-2,13,1,17,2,10
4,30000167,1,5,3,-2,820,1440,1,-2,-2,-2,-2,620

In [3]:
len(data)

43424

In [4]:
data3 = data
data3.head()

,hh_id,per_id,at_id,act_id,trip_id,BegTime,EndTime,ActType,O_pur,D_pur,Mode,Numontrp,AT_Dur
0,30000167,1,1,1,-2,0,740,1,-2,-2,-2,-2,740
1,30000167,1,2,-2,1,740,748,-2,1,13,17,2,8
2,30000167,1,3,2,-2,748,810,13,-2,-2,-2,-2,62
3,30000167,1,4,-2,2,810,820,-2,13,1,17,2,10
4,30000167,1,5,3,-2,820,1440,1,-2,-2,-2,-2,620

In [80]:
data3['new_id'] = data3['per_id'] != data3['per_id'].shift()
data3['new_id'] = data3['new_id'].cumsum()
data3[:50]
# data3.to_csv('new_id.csv')

In [6]:
data4 = data3.drop(['hh_id','per_id'], axis=1)
data4[:50]

,at_id,act_id,trip_id,BegTime,EndTime,ActType,O_pur,D_pur,Mode,Numontrp,AT_Dur,new_id
0,1,1,-2,0,740,1,-2,-2,-2,-2,740,1
1,2,-2,1,740,748,-2,1,13,17,2,8,1
2,3,2,-2,748,810,13,-2,-2,-2,-2,62,1
3,4,-2,2,810,820,-2,13,1,17,2,10,1
4,5,3,-2,820,1440,1,-2,-2,-2,-2,620,1
5,1,1,-2,0,550,1,-2,-2,-2,-2,550,1
6,2,-2,1,550,554,-2,1,12,6,1,4,1
7,3,2,-2,554,592,12,-2,-2,-2,-2,38,1
8,4,-2,2,592,596,-2,12,1,6,1,4,1
9,5,3,-2,596,955,1,-2,-2,-2,-2,359,1
10,6,-2,3,955,1090,-2,1,17,4,2,135,1
11,7,4,-2,1090,1105,17,-2,-2,-2,-2,15,1
12,8,-2,4,1105,1178,-2,17,13,4,4,73,1
13,9,5,-2,1178,1255,13,-2,-2,-2,-2,77,1
14,10,-2,5,1255,1278,-2,13,17,4,4,23,1
15,11,6,-2,1278,1440,17,-2,-2,-2,-2,162,1
16,1,1,-2,0,468,1,-2,-2,-2,-2,468,2
17,2,-2,1,468,471,-2,1,3,4,1,3,2
18,3,2,-2,471,762,3,-2,-2,-2,-2,291,2
19,4,-2,2,762,765,-2,3,1,4,1,3,2
20,5,3,-2,765,790,1,-2,-2,-2,-2,25,2
21,6,-2,3,790,794,-2,1,3,4,1,4,2
22,7,4,-2,794,911,3,-2,-2,-2,-2,117,2
23,8,-2,4,911,925,-2,3,6,4,2,14,2
24,9,5,-2,925,926,6,-2,-2,-2,-2,1,2
25,10,-2,5,926,940,-2,6,1,4,1,14,2
26,11,6,-2,940,955,1,-2,-2,-2,-2,15,2
27,12,-2,6,955,1090,-2,1,17,4,2,135,2
28,13,7,-2,1090,1165,17,-2,-2,-2,-2,75,2
29,14,-2,7,1165,1178,-2,17,13,4,4,13,2
30,15,8,-2,1178,1265,13,-2,-2,-2,-2,87,2
31,16,-2,8,1265,1278,-2,13,1,4,4,13,2
32,17,9,-2,1278,1440,1,-2,-2,-2,-2,162,2
33,1,1,-2,0,314,1,-2,-2,-2,-2,314,3
34,2,-2,1,314,350,-2,1,3,3,2,36,3
35,3,2,-2,350,870,3,-2,-2,-2,-2,520,3
36,4,-2,2,870,920,-2,3,1,3,1,50,3
37,5,3,-2,920,1440,1,-2,-2,-2,-2,520,3
38,1,1,-2,0,555,1,-2,-2,-2,-2,555,3
39,2,-2,1,555,560,-2,1,3,4,1,5,3
40,3,2,-2,560,1095,3,-2,-2,-2,-2,535,3
41,4,-2,2,1095,1112,-2,3,6,4,2,17,3
42,5,3,-2,1112,1113,6,-2,-2,-2,-2,1,3
43,6,-2,3,1113,1123,-2,6,1,4,1,10,3
44,7,4,-2,1123,1440,1,-2,-2,-2,-2,317,3
45,1,1,-2,0,540,1,-2,-2,-2,-2,540,3
46,2,-2,1,540,560,-2,1,11,3,2,20,3
47,3,2,-2,560,570,11,-2,-2,-2,-2,10,3
48,4,-2,2,570,705,-2,11,13,3,2,135,3
49,5,3,-2,705,739,13,-2,-2,-2,-2,34,3

In [42]:
data4['student'] = data4['ActType'] == 8
# 学生
data5 = data4[data4['student']]
print(len(data5['new_id']))
data5['lasttime'] = data5['EndTime'] - data5['BegTime']
# data5.drop(['at_id', 'act_id', 'trip_id', 'O_pur'])
x1 = set(data5['new_id'])
len(x1)

437

D:\Anaconda\envs\geo_env\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

388

In [43]:
# worker
data4['worker'] = (data4['ActType'] == 2)|(data4['ActType'] == 3)|(data4['ActType'] == 4)|(data4['ActType'] == 5)
data6 = data4[data4['worker']]
x2 = set(data6['new_id'])
len(x2)

1374

In [65]:
# worker和student 的ID号
x = []
for i in x1:
    x.append(i)
for i in x2:
    x.append(i)
x = set(x)
print(len(x))

1727

In [84]:
# 总人数 ID个数
x3 = set(data4['new_id'])
print(len(x3))
# Non_worker 的ID号
x4 = x3 - x
print(len(x4))
print(x4)

3646
1919
{1, 4, 7, 8, 12, 13, 15, 16, 17, 18, 20, 21, 23, 25, 27, 28, 31, 32, 34, 37, 38, 41, 42, 43, 44, 45, 46, 47, 48, 50, 53, 55, 56, 57, 58, 61, 62, 67, 68, 69, 73, 74, 75, 78, 79, 80, 81, 83, 90, 93, 94, 108, 111, 112, 114, 115, 117, 118, 119, 120, 121, 122, 124, 125, 126, 127, 128, 129, 130, 131, 139, 140, 141, 143, 145, 146, 147, 148, 149, 151, 152, 153, 154, 156, 157, 158, 159, 162, 163, 164, 165, 167, 171, 173, 174, 175, 176, 177, 179, 181, 182, 183, 184, 187, 188, 189, 190, 191, 194, 198, 199, 200, 201, 207, 208, 209, 210, 213, 217, 218, 219, 220, 222, 226, 229, 230, 232, 233, 234, 235, 236, 242, 243, 244, 245, 246, 248, 249, 250, 251, 252, 258, 259, 261, 265, 268, 278, 279, 280, 282, 283, 286, 289, 290, 291, 292, 293, 295, 298, 299, 303, 304, 306, 308, 309, 311, 312, 313, 314, 315, 316, 317, 318, 320, 321, 322, 323, 326, 329, 331, 332, 333, 334, 335, 336, 338, 339, 340, 344, 345, 349, 350, 351, 354, 356, 357, 359, 360, 361, 362, 366, 367, 368, 370, 371, 379, 381, 383, 386, 388, 392, 393, 395, 397, 400, 401, 402, 403, 406, 407, 411, 412, 413, 414, 415, 416, 417, 418, 419, 423, 424, 425, 426, 427, 430, 431, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 453, 454, 455, 461, 465, 468, 469, 473, 474, 475, 476, 482, 486, 487, 488, 489, 490, 495, 496, 497, 498, 502, 508, 509, 516, 524, 525, 526, 527, 528, 529, 530, 531, 533, 534, 539, 540, 544, 545, 546, 548, 550, 552, 553, 554, 555, 556, 562, 564, 565, 566, 568, 573, 575, 578, 579, 581, 582, 583, 584, 586, 591, 595, 596, 597, 598, 599, 600, 601, 602, 603, 607, 608, 613, 614, 617, 623, 624, 625, 627, 629, 630, 631, 633, 635, 637, 638, 639, 641, 643, 644, 645, 646, 647, 648, 656, 659, 660, 661, 662, 663, 664, 667, 668, 669, 670, 672, 673, 674, 676, 677, 678, 679, 682, 683, 684, 685, 686, 689, 691, 692, 696, 697, 698, 699, 702, 704, 708, 710, 711, 714, 715, 717, 718, 719, 722, 723, 726, 727, 728, 729, 732, 733, 735, 736, 737, 740, 741, 742, 743, 745, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 761, 764, 766, 767, 768, 769, 770, 772, 777, 779, 780, 784, 785, 786, 788, 789, 790, 791, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 808, 815, 816, 819, 820, 821, 822, 825, 827, 828, 830, 834, 835, 836, 837, 838, 839, 840, 841, 844, 845, 847, 848, 854, 856, 857, 863, 864, 865, 867, 868, 871, 872, 873, 874, 875, 876, 877, 879, 880, 881, 882, 883, 884, 885, 887, 889, 890, 891, 892, 893, 894, 895, 898, 899, 901, 902, 903, 904, 905, 906, 907, 911, 912, 913, 914, 915, 916, 917, 919, 920, 921, 922, 923, 924, 933, 935, 936, 937, 938, 939, 940, 941, 944, 946, 948, 951, 952, 953, 956, 957, 958, 959, 960, 961, 962, 963, 965, 966, 967, 976, 977, 978, 979, 981, 982, 983, 984, 986, 989, 990, 992, 997, 999, 1001, 1003, 1006, 1007, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1022, 1024, 1025, 1028, 1029, 1031, 1034, 1035, 1036, 1037, 1038, 1039, 1042, 1043, 1045, 1046, 1047, 1050, 1051, 1052, 1054, 1061, 1062, 1063, 1070, 1071, 1072, 1073, 1086, 1087, 1089, 1091, 1093, 1094, 1095, 1096, 1097, 1099, 1102, 1106, 1107, 1108, 1110, 1111, 1114, 1115, 1117, 1118, 1120, 1121, 1122, 1123, 1124, 1125, 1128, 1129, 1130, 1131, 1134, 1139, 1143, 1144, 1149, 1150, 1151, 1153, 1156, 1157, 1159, 1160, 1162, 1163, 1164, 1166, 1167, 1168, 1171, 1172, 1174, 1177, 1178, 1179, 1182, 1183, 1184, 1185, 1186, 1187, 1193, 1196, 1197, 1198, 1201, 1211, 1214, 1217, 1218, 1219, 1221, 1222, 1223, 1225, 1226, 1227, 1228, 1232, 1233, 1234, 1235, 1236, 1237, 1239, 1241, 1242, 1243, 1244, 1249, 1250, 1251, 1252, 1254, 1255, 1256, 1257, 1258, 1261, 1262, 1264, 1266, 1277, 1279, 1280, 1281, 1286, 1287, 1288, 1289, 1291, 1292, 1295, 1296, 1297, 1299, 1300, 1301, 1302, 1303, 1305, 1306, 1307, 1309, 1313, 1316, 1317, 1318, 1319, 1320, 1321, 1323, 1325, 1326, 1327, 1328, 1329, 1331, 1333, 1336, 1337, 1338, 1339, 1340, 1341, 1346, 1350, 1354, 1355, 1356, 1358, 1360, 1361, 1363, 1364, 1369, 1374, 1378, 1379, 1380, 1381, 1382, 1387, 1388, 1389, 1390, 1398, 1400, 1401, 1403, 1406, 1407, 1408, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1421, 1422, 1423, 1424, 1425, 1427, 1428, 1430, 1432, 1433, 1434, 1443, 1444, 1445, 1446, 1448, 1454, 1457, 1458, 1461, 1462, 1463, 1464, 1465, 1467, 1469, 1473, 1477, 1478, 1479, 1482, 1483, 1484, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1502, 1503, 1504, 1505, 1506, 1509, 1510, 1512, 1514, 1515, 1516, 1517, 1518, 1520, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1546, 1551, 1555, 1559, 1560, 1561, 1563, 1564, 1565, 1566, 1568, 1571, 1572, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1585, 1588, 1589, 1592, 1593, 1596, 1599, 1600, 1601, 1608, 1609, 1610, 1611, 1612, 1613, 1615, 1619, 1624, 1634, 1635, 1636, 1637, 1639, 1640, 1647, 1648, 1649, 1650, 1652, 1653, 1655, 1659, 1661, 1664, 1665, 1666, 1668, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1681, 1685, 1686, 1687, 1688, 1689, 1690, 1693, 1695, 1697, 1698, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1716, 1722, 1726, 1728, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1738, 1740, 1742, 1743, 1746, 1747, 1750, 1751, 1752, 1758, 1759, 1762, 1763, 1765, 1767, 1768, 1770, 1771, 1774, 1775, 1778, 1779, 1780, 1782, 1785, 1786, 1787, 1788, 1790, 1791, 1792, 1794, 1795, 1800, 1801, 1803, 1805, 1806, 1808, 1809, 1810, 1811, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1825, 1826, 1828, 1830, 1831, 1832, 1836, 1837, 1838, 1839, 1840, 1845, 1853, 1855, 1856, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1873, 1875, 1876, 1877, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1889, 1890, 1892, 1893, 1899, 1904, 1906, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1920, 1921, 1923, 1925, 1927, 1928, 1929, 1930, 1932, 1933, 1934, 1935, 1936, 1938, 1941, 1942, 1947, 1948, 1949, 1950, 1951, 1956, 1957, 1959, 1960, 1961, 1963, 1964, 1965, 1966, 1967, 1969, 1970, 1971, 1972, 1975, 1977, 1982, 1983, 1985, 1986, 1990, 1991, 1994, 1999, 2001, 2003, 2004, 2005, 2008, 2009, 2010, 2011, 2012, 2013, 2015, 2016, 2018, 2019, 2020, 2021, 2022, 2025, 2027, 2032, 2034, 2035, 2036, 2038, 2039, 2041, 2046, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2062, 2064, 2066, 2069, 2070, 2071, 2077, 2078, 2079, 2081, 2082, 2083, 2092, 2095, 2097, 2098, 2100, 2101, 2103, 2105, 2106, 2107, 2108, 2109, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2120, 2121, 2122, 2125, 2126, 2131, 2132, 2138, 2141, 2143, 2145, 2148, 2149, 2150, 2152, 2156, 2157, 2164, 2169, 2170, 2171, 2172, 2179, 2180, 2181, 2182, 2184, 2186, 2188, 2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200, 2203, 2205, 2206, 2207, 2209, 2212, 2213, 2214, 2215, 2216, 2217, 2225, 2230, 2231, 2233, 2234, 2236, 2239, 2241, 2243, 2244, 2247, 2251, 2252, 2255, 2256, 2259, 2265, 2266, 2268, 2270, 2271, 2273, 2275, 2277, 2280, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 2290, 2291, 2292, 2293, 2295, 2296, 2297, 2298, 2299, 2300, 2301, 2302, 2303, 2305, 2307, 2308, 2315, 2316, 2317, 2318, 2319, 2320, 2321, 2325, 2329, 2330, 2331, 2332, 2337, 2339, 2340, 2341, 2350, 2351, 2352, 2353, 2354, 2355, 2359, 2362, 2363, 2364, 2365, 2366, 2367, 2369, 2372, 2373, 2376, 2377, 2383, 2387, 2388, 2390, 2392, 2393, 2395, 2396, 2402, 2403, 2405, 2406, 2407, 2408, 2411, 2412, 2414, 2417, 2418, 2421, 2422, 2424, 2428, 2429, 2431, 2435, 2436, 2437, 2438, 2443, 2445, 2446, 2447, 2449, 2452, 2453, 2454, 2455, 2456, 2457, 2458, 2459, 2460, 2461, 2462, 2463, 2471, 2473, 2475, 2477, 2480, 2481, 2484, 2485, 2487, 2489, 2490, 2493, 2494, 2496, 2500, 2501, 2504, 2511, 2517, 2519, 2524, 2525, 2527, 2529, 2530, 2531, 2534, 2535, 2542, 2543, 2544, 2545, 2552, 2553, 2554, 2555, 2560, 2561, 2565, 2567, 2569, 2573, 2574, 2577, 2578, 2580, 2582, 2583, 2586, 2587, 2590, 2591, 2592, 2594, 2597, 2599, 2600, 2605, 2607, 2610, 2614, 2615, 2618, 2619, 2620, 2621, 2622, 2623, 2626, 2627, 2629, 2630, 2633, 2635, 2636, 2638, 2639, 2640, 2641, 2642, 2643, 2644, 2645, 2646, 2650, 2654, 2655, 2657, 2658, 2659, 2664, 2665, 2666, 2667, 2672, 2674, 2679, 2680, 2681, 2682, 2684, 2688, 2692, 2701, 2702, 2703, 2705, 2706, 2707, 2708, 2709, 2711, 2712, 2714, 2715, 2716, 2717, 2719, 2720, 2721, 2722, 2723, 2726, 2727, 2728, 2729, 2735, 2736, 2741, 2742, 2743, 2747, 2748, 2749, 2750, 2751, 2753, 2754, 2755, 2759, 2761, 2763, 2764, 2765, 2766, 2769, 2770, 2772, 2775, 2776, 2779, 2780, 2782, 2783, 2784, 2786, 2787, 2788, 2789, 2791, 2792, 2794, 2796, 2803, 2804, 2805, 2807, 2808, 2809, 2813, 2814, 2815, 2816, 2817, 2819, 2820, 2821, 2824, 2828, 2829, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2841, 2842, 2843, 2846, 2847, 2848, 2849, 2853, 2857, 2861, 2862, 2863, 2868, 2871, 2878, 2879, 2880, 2882, 2883, 2884, 2885, 2886, 2887, 2889, 2890, 2892, 2895, 2896, 2897, 2898, 2903, 2904, 2905, 2906, 2907, 2909, 2910, 2912, 2913, 2916, 2918, 2919, 2920, 2922, 2923, 2924, 2929, 2935, 2936, 2938, 2944, 2946, 2947, 2948, 2949, 2950, 2951, 2952, 2953, 2954, 2955, 2956, 2958, 2959, 2960, 2961, 2962, 2965, 2966, 2967, 2972, 2973, 2975, 2979, 2980, 2981, 2982, 2988, 2990, 2994, 2995, 2996, 2997, 3002, 3005, 3006, 3007, 3008, 3009, 3010, 3011, 3014, 3021, 3025, 3027, 3029, 3031, 3032, 3033, 3039, 3044, 3045, 3051, 3054, 3055, 3061, 3063, 3064, 3068, 3070, 3074, 3075, 3076, 3081, 3082, 3087, 3088, 3089, 3090, 3091, 3092, 3096, 3098, 3099, 3102, 3108, 3109, 3110, 3111, 3112, 3115, 3116, 3117, 3119, 3120, 3121, 3125, 3126, 3128, 3134, 3136, 3142, 3143, 3144, 3146, 3151, 3152, 3153, 3154, 3156, 3157, 3159, 3160, 3168, 3169, 3170, 3175, 3177, 3180, 3181, 3183, 3184, 3185, 3186, 3187, 3189, 3192, 3193, 3195, 3196, 3201, 3202, 3203, 3204, 3205, 3206, 3213, 3217, 3219, 3220, 3221, 3222, 3223, 3224, 3226, 3227, 3230, 3234, 3235, 3236, 3237, 3238, 3239, 3240, 3243, 3244, 3245, 3246, 3248, 3249, 3253, 3255, 3258, 3259, 3262, 3269, 3270, 3272, 3274, 3278, 3280, 3281, 3285, 3286, 3288, 3289, 3290, 3291, 3292, 3293, 3296, 3299, 3301, 3303, 3306, 3307, 3308, 3316, 3325, 3326, 3328, 3329, 3334, 3338, 3339, 3342, 3343, 3344, 3348, 3349, 3353, 3354, 3355, 3356, 3357, 3358, 3360, 3361, 3362, 3364, 3367, 3368, 3369, 3370, 3371, 3374, 3375, 3384, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3399, 3400, 3401, 3402, 3407, 3410, 3411, 3415, 3416, 3417, 3418, 3419, 3420, 3425, 3428, 3430, 3433, 3434, 3442, 3443, 3445, 3446, 3447, 3448, 3449, 3450, 3451, 3452, 3453, 3454, 3455, 3460, 3461, 3462, 3463, 3464, 3465, 3467, 3472, 3473, 3474, 3475, 3477, 3478, 3480, 3481, 3482, 3484, 3487, 3488, 3491, 3492, 3494, 3498, 3504, 3505, 3516, 3517, 3519, 3520, 3521, 3522, 3523, 3525, 3527, 3528, 3529, 3530, 3533, 3534, 3537, 3538, 3539, 3540, 3543, 3544, 3546, 3547, 3549, 3550, 3551, 3552, 3553, 3554, 3556, 3562, 3563, 3566, 3567, 3572, 3573, 3575, 3576, 3577, 3580, 3581, 3582, 3591, 3593, 3594, 3599, 3600, 3603, 3605, 3606, 3610, 3611, 3612, 3615, 3616, 3617, 3622, 3623, 3624, 3625, 3626, 3627, 3628, 3629, 3630, 3631, 3632, 3633, 3634, 3635, 3636, 3638, 3639, 3640, 3641, 3642, 3643, 3644, 3645, 3646}

In [144]:
# data4 = data4.drop(['worker','student','new_id_2'], axis=1)

,at_id,act_id,trip_id,BegTime,EndTime,ActType,O_pur,D_pur,Mode,Numontrp,AT_Dur,new_id
0,1,1,-2,0,740,1,-2,-2,-2,-2,740,1
1,2,-2,1,740,748,-2,1,13,17,2,8,1
2,3,2,-2,748,810,13,-2,-2,-2,-2,62,1
3,4,-2,2,810,820,-2,13,1,17,2,10,1
4,5,3,-2,820,1440,1,-2,-2,-2,-2,620,1
...,...,...,...,...,...,...,...,...,...,...,...,...
43419,3,2,-2,735,810,13,-2,-2,-2,-2,75,3646
43420,4,-2,2,810,812,-2,13,11,1,1,2,3646
43421,5,3,-2,812,820,11,-2,-2,-2,-2,8,3646
43422,6,-2,3,820,826,-2,11,1,3,1,6,3646
43423,7,4,-2,826,1440,1,-2,-2,-2,-2,614,3646

In [120]:
# data4['new_id_2'] = data4['new_id']
dt1 = data4.groupby('new_id')

In [135]:
x1

{9,
 10,
 11,
 19,
 39,
 54,
 71,
 89,
 92,
 96,
 97,
 99,
 100,
 101,
 106,
 107,
 137,
 168,
 169,
 170,
 197,
 204,
 223,
 224,
 240,
 255,
 256,
 260,
 267,
 276,
 296,
 348,
 374,
 375,
 376,
 391,
 410,
 435,
 452,
 458,
 459,
 463,
 467,
 472,
 481,
 501,
 522,
 523,
 536,
 542,
 557,
 559,
 580,
 585,
 589,
 610,
 621,
 622,
 649,
 650,
 653,
 655,
 681,
 687,
 688,
 694,
 695,
 707,
 725,
 746,
 762,
 763,
 809,
 812,
 842,
 851,
 852,
 853,
 860,
 897,
 927,
 928,
 931,
 950,
 955,
 970,
 993,
 994,
 1000,
 1008,
 1009,
 1010,
 1011,
 1044,
 1057,
 1058,
 1059,
 1060,
 1066,
 1067,
 1068,
 1079,
 1080,
 1101,
 1154,
 1158,
 1190,
 1191,
 1192,
 1204,
 1213,
 1215,
 1246,
 1248,
 1269,
 1271,
 1274,
 1275,
 1278,
 1283,
 1298,
 1334,
 1343,
 1344,
 1345,
 1348,
 1366,
 1367,
 1368,
 1373,
 1376,
 1439,
 1450,
 1451,
 1452,
 1489,
 1490,
 1491,
 1492,
 1493,
 1519,
 1525,
 1526,
 1528,
 1529,
 1545,
 1550,
 1554,
 1557,
 1558,
 1584,
 1622,
 1623,
 1627,
 1630,
 1657,
 1669,
 1670,
 1683,
 1684,
 1696,
 1714,
 1720,
 1721,
 1725,
 1749,
 1755,
 1756,
 1813,
 1829,
 1843,
 1844,
 1871,
 1872,
 1895,
 1896,
 1946,
 1953,
 1954,
 1955,
 1958,
 1979,
 1980,
 1993,
 1995,
 1996,
 1997,
 2047,
 2067,
 2068,
 2075,
 2084,
 2086,
 2087,
 2090,
 2093,
 2094,
 2133,
 2135,
 2136,
 2139,
 2146,
 2160,
 2161,
 2162,
 2166,
 2177,
 2178,
 2183,
 2187,
 2191,
 2218,
 2219,
 2222,
 2223,
 2224,
 2228,
 2229,
 2238,
 2250,
 2254,
 2269,
 2274,
 2306,
 2311,
 2312,
 2313,
 2314,
 2327,
 2344,
 2345,
 2349,
 2358,
 2380,
 2386,
 2391,
 2399,
 2400,
 2401,
 2433,
 2441,
 2442,
 2465,
 2466,
 2478,
 2479,
 2483,
 2499,
 2505,
 2509,
 2537,
 2539,
 2540,
 2541,
 2546,
 2547,
 2548,
 2549,
 2550,
 2551,
 2603,
 2604,
 2606,
 2608,
 2631,
 2634,
 2647,
 2651,
 2652,
 2662,
 2663,
 2670,
 2671,
 2675,
 2676,
 2697,
 2732,
 2733,
 2734,
 2745,
 2746,
 2773,
 2774,
 2785,
 2799,
 2812,
 2826,
 2827,
 2832,
 2845,
 2851,
 2852,
 2864,
 2865,
 2875,
 2876,
 2893,
 2894,
 2930,
 2931,
 2934,
 2937,
 2941,
 2942,
 2974,
 2976,
 2984,
 2985,
 2986,
 2987,
 3012,
 3013,
 3017,
 3018,
 3019,
 3036,
 3037,
 3040,
 3041,
 3043,
 3050,
 3056,
 3057,
 3058,
 3059,
 3062,
 3079,
 3080,
 3085,
 3086,
 3124,
 3138,
 3141,
 3149,
 3150,
 3164,
 3190,
 3197,
 3200,
 3211,
 3225,
 3232,
 3233,
 3257,
 3267,
 3282,
 3283,
 3284,
 3304,
 3305,
 3313,
 3314,
 3317,
 3320,
 3321,
 3322,
 3331,
 3345,
 3352,
 3359,
 3378,
 3379,
 3397,
 3398,
 3405,
 3421,
 3422,
 3436,
 3441,
 3470,
 3471,
 3485,
 3486,
 3490,
 3497,
 3510,
 3511,
 3515,
 3526,
 3532,
 3535,
 3536,
 3542,
 3586,
 3592,
 3596,
 3597,
 3598}

In [147]:
worker = []
student = []
non_worker = []

for x in dt1:
    if x[0] in x4 :
        non_worker.append(x[1])
    elif x[0] in x1:
        student.append(x[1])
    elif x[0] in x2:
        worker.append(x[1])
    else:
        pass
#     print(x[0])
#     print(list(x))

In [149]:
data_student = pd.concat(student)
data_worker = pd.concat(worker)
data_nonworker = pd.concat(non_worker)

In [151]:
data_student.to_csv('data_student.csv')
data_worker.to_csv('data_worker.csv')
data_nonworker.to_csv('data_nonworker.csv')